@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Josefin';
        font-weight: 400;
        font-weight: normal;
        src: url('./assets/fonts/JosefinSans-Regular.ttf');
    }
    @font-face {
        font-family: 'Josefin';
        font-weight: 900;
        font-weight: black;
        src: url('./assets/fonts/JosefinSans-Bold.ttf');
    }
}

* {
    font-family: 'Josefin', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.App {
    background-color: #000000;
}
body {
    background-color: #000000;
}

.active {
    text-decoration: underline rgb(63, 61, 86) 4px;
}

.custom-shape-divider-bottom-1663882325 {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663882325 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 294px;
}

.custom-shape-divider-bottom-1663882325 .shape-fill {
    fill: #fff;
}

.custom-shape-divider-top-1663884187 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 169px;
}

.custom-shape-divider-top-1663884187 .shape-fill {
    fill: #ffffff14;
}

.button:hover {
    border: solid 2px rgb(49, 20, 54);
    cursor: pointer;
}
.button:focus {
    border: solid 2px rgb(49, 20, 54);
}
